<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-2 link-body-emphasis" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categoria
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Adulto</a></li>
                        <li><a class="dropdown-item" href="#">Infantil</a></li>
                        <li><a class="dropdown-item" href="#">Ortopedicos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Todas as categorias</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis">Ofertas</a></li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis">Produtos</a></li>
            </ul>

            <div class="d-flex align-items-center gap-3 ms-auto">
                <p class="mb-0">{{ request.user.first_name }}</p>

                <!-- Perfil -->
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">Meu perfil</a></li>
                        <li><a class="dropdown-item" href="#">Compras</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'authentication:logout' %}">Sair</a></li>
                    </ul>
                </div>

                <!-- Carrinho -->
                <a href="#" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 
                        0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 
                        0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 
                        12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 
                        0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 
                        1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 
                        0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>