{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/header.html' %}

{% if categoria %}
<section id="hero" class="hero section dark-background">
    {% if categoria.id == 1 %}
    <img src="{% static 'assets/img/moda.jpg' %}" alt="" data-aos="fade-in">

    <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-6 col-lg-8">
                <h2>Moda que te veste, estilo que te define<span>.</span></h2>
                <p>Tudo o que você precisa. Sem complicação</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if categoria.id == 2 %}
    <img src="{% static 'assets/img/celulares.jpg' %}" alt="" data-aos="fade-in">

    <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-6 col-lg-8">
                <h2>Tecnologia na palma da sua mão<span>.</span></h2>
                <p>Tudo o que você precisa. Sem complicação</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if categoria.id == 3 %}
    <img src="{% static 'assets/img/livros.jpg' %}" alt="" data-aos="fade-in">

    <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-6 col-lg-8">
                <h2>Cada livro, um universo em páginas<span>.</span></h2>
                <p>Tudo o que você precisa. Sem complicação</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if categoria.id == 4 %}
    <img src="{% static 'assets/img/eletrodomestico.jpg' %}" alt="" data-aos="fade-in">

    <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-6 col-lg-8">
                <h2>Facilidade pra sua casa. Economia pro seu bolso<span>.</span></h2>
                <p>Tudo o que você precisa. Sem complicação</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if categoria.id == 5 %}
    <img src="{% static 'assets/img/informatica.jpg' %}" alt="" data-aos="fade-in">

    <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-6 col-lg-8">
                <h2>Performance que acompanha seu ritmo<span>.</span></h2>
                <p>Tudo o que você precisa. Sem complicação</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if categoria.id == 6 %}
    <img src="{% static 'assets/img/game.jpg' %}" alt="" data-aos="fade-in">

    <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-6 col-lg-8">
                <h2>Forje seu destino. Monte seu setup<span>.</span></h2>
                <p>Tudo o que você precisa. Sem complicação</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if categoria.id == 8 %}
    <img src="{% static 'assets/img/eletronico.jpg' %}" alt="" data-aos="fade-in">

    <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-6 col-lg-8">
                <h2>O melhor do áudio e vídeo<span>.</span></h2>
                <p>Tudo o que você precisa. Sem complicação</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if categoria.id == 9 %}
    <img src="{% static 'assets/img/televisores.jpg' %}" alt="" data-aos="fade-in">

    <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-6 col-lg-8">
                <h2>"Sua TV dos sonhos tá aqui<span>.</span></h2>
                <p>Tudo o que você precisa. Sem complicação</p>
            </div>
        </div>
    </div>
    {% endif %}

</section>
{% endif %}

<main class="main">

    <body class="index-page">

        <main class="main">


            <section id="portfolio" class="portfolio section">
                <div class="container">

                    <div class="isotope-layout" data-default-filter="*" data-layout="masonry"
                        data-sort="original-order">

                        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                            <li data-filter="*" class="filter-active">Todos</li>
                            <li data-filter=".filter-app">Mais vendidos</li>
                            <li data-filter=".filter-product">Promocao</li>
                            <li data-filter=".filter-branding">Diversos</li>
                        </ul>

                        <div div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                            {% for item in item %}
                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                                <div class="portfolio-content h-100 shadow-sm">

                                    {% if item.image %}
                                    <a href="{% url 'ecommerce:item_dashboard' item.code_item %}">
                                        <img src="{{ item.image.url }}" class="img-fluid" alt="">
                                        {% else %}
                                        <span class="text-muted">Sem imagem</span>
                                        {% endif %}
                                    </a>
                                    <div class="portfolio-info">
                                        <h4>{{ item.name }}</h4>
                                        <div style="text-align: right;">
                                            {% if item.company_id %}
                                            <a href="{% url 'ecommerce:company_page' item.company_id.id_company %}">
                                                <img src="{{  item.company_id.logo.url }}" alt="Logo" width="40"
                                                    height="40" class="rounded">
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                        </div>




                    </div><!-- End Portfolio Container -->

                </div>



            </section><!-- /Portfolio Section -->


        </main>

        {% include 'includes/footer.html' %}
        <!-- Scroll Top -->
        <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"
            style="bottom: 90px;"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Preloader -->
        <div id="preloader"></div>

        <!-- Vendor JS Files -->
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
        <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
        <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

        <!-- Main JS File -->
        <script src="{% static 'assets/js/main.js' %}"></script>

    </body>



</main>
{% endblock %}