{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário - GP</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/user.css' %}" rel="stylesheet">

</head>

<body>
    <main class="w-100 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="register-card">
            <form method="post" action="{% url 'authentication:user' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'ecommerce:item_dashboard' %}" class="btn btn-secondary">Cancelar</a>
                <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>