{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Empresa</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/user.css' %}" rel="stylesheet">

</head>

<body>
    <main class="w-100 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="register-card">
            <form method="post" action="{% url 'ecommerce:create_company' %}">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% if field.name == "image" %}
                    <input type="file" name="image" class="form-control" id="{{ field.id_for_label }}" accept="image/*">
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
                <button class="btn btn-primary w-100 py-2 mt-2" type="submit">Cadastrar</button>
                <p class="mt-4 mb-2 text-center register-footer">&copy; 2017–2025 GP. Todos os direitos reservados.</p>
            </form>
        </div>
    </main>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>