{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/header.html' %}
{% include 'includes/hero.html' %}


<section id="como-funciona" class="about section" style="background: #ffffff;">

  <div class="container">
    <div class="row align-items-center gy-5">

      <!-- TEXTO -->
      <div class="col-lg-6">

        <h2 class="fw-bold mb-2">Como o Doa+ Funciona</h2>
        <p class="text-muted mb-4">Simples, Rápido e Seguro</p>

        <div class="mb-4 d-flex">
          <i class="bi bi-check2 text-warning fs-4 me-3"></i>
          <div>
            <h5 class="fw-bold text-primary mb-1">Escolha uma causa para apoiar</h5>
            <p class="text-muted mb-0">
              Navegue por diversas campanhas e encontre a causa que mais toca o seu coração.
            </p>
          </div>
        </div>

        <div class="mb-4 d-flex">
          <i class="bi bi-check2 text-warning fs-4 me-3"></i>
          <div>
            <h5 class="fw-bold text-primary mb-1">Faça sua doação de forma segura</h5>
            <p class="text-muted mb-0">
              Realize sua doação com confiança e transparência. O Doa+ garante que sua contribuição chegue até quem
              realmente precisa.
            </p>
          </div>
        </div>


        <p class="fw-bold mt-4">Pronto para transformar vidas?</p>

        <a href="#" class="btn btn-primary px-4 py-2 rounded-pill">
          Encontre uma causa para ajudar →
        </a>

      </div>

      <!-- IMAGEM -->
      <div class="col-lg-6 text-center">
        <img src="{% static 'assets/img/doar_imag.avif' %}" class="img-fluid rounded-4 shadow" alt="">
      </div>

    </div>
  </div>

</section>


<!-- Clientes Section -->
<section id="clients" class="clients section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          
          </script>

      <h2 class="fw-bold mb-2">Lojas parceiras</h2>
      <div class="swiper-wrapper align-items-center">
        {% for company in companies %}
        <div class="swiper-slide">
          {% if company.logo %}
          <a href="{% url 'ecommerce:company_page' company.id_company %}">
            <img src="{{ company.logo.url }}" alt="Logo" width="100" height="100" class="rounded">
          </a>
          {% else %}
          <span class="text-muted">Sem logo</span>
          {% endif %}
        </div>
        {% endfor %}

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

</section>

<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Escolha uma causa</h2>
    <p>Mude uma história</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          (imgem)
          <h3>(Titulo da causa)</h3>
          <p>(detalhes da causa)</p>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 50%">
              50%
            </div>
          </div>
          <a href="#" class="readmore stretched-link">Saber mais <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          (imgem)
          <h3>(Titulo da causa)</h3>
          <p>(detalhes da causa)</p>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 50%">
              50%
            </div>
          </div>
          <a href="service-details.html" class="readmore stretched-link">Saber mais <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          (imgem)
          <h3>(Titulo da causa)</h3>
          <p>(detalhes da causa)</p>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 50%">
              50%
            </div>
          </div>
          <a href="service-details.html" class="readmore stretched-link">Saber mais <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          (imgem)
          <h3>(Titulo da causa)</h3>
          <p>(detalhes da causa)</p>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 50%">
              50%
            </div>
          </div>
          <a href="service-details.html" class="readmore stretched-link">Saber mais <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          (imgem)
          <h3>(Titulo da causa)</h3>
          <p>(detalhes da causa)</p>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 50%">
              50%
            </div>
          </div>
          <a href="service-details.html" class="readmore stretched-link">Saber mais <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          (imgem)
          <h3>(Titulo da causa)</h3>
          <p>(detalhes da causa)</p>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 50%">
              50%
            </div>
          </div>
          <a href="service-details.html" class="readmore stretched-link">Saber mais <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section>




{% include 'includes/footer.html' %}


{% endblock %}