{% extends 'base.html' %}
{% load static %}
{% block content %}


<header id="header" class="header d-flex align-items-center position-relative" style="background-color: #000;">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <a href="{% if company %}{% url 'ecommerce:company_page' company.id_company %}{% else %}{% url 'ecommerce:index' %}{% endif %}"
      class="logo d-flex align-items-center">

      {% if company and company.logo %}
      <img src="{{ company.logo.url }}" alt="{{ company.nome }}" class="logo-img">
      {% else %}
      <h1 class="sitename">InstaShop</h1>
      <span>.</span>
      {% endif %}
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'ecommerce:index' %}" class="active">Inicio<br></a></li>
        <li><a href="{% url 'ecommerce:companies' %}">Lojas</a></li>
        <li class="dropdown">
          <a href="#">
            <span>Categoria</span>
            <i class="bi bi-chevron-down toggle-dropdown"> </i>
          </a>
          <ul>

            <li><a href="{% url 'ecommerce:category_page' 1 %}">Moda</a></li>
            <li class="dropdown"><a href="{% url 'ecommerce:category_page' 7 %}"><span>Tecnologia</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="{% url 'ecommerce:category_page' 2 %}">Celulares</a></li>
                <li><a href="{% url 'ecommerce:category_page' 5 %}">Informatica</a></li>
                <li><a href="{% url 'ecommerce:category_page' 6 %}">Game</a></li>
                <li><a href="{% url 'ecommerce:category_page' 8 %}">Eletronicos, audio e video</a></li>
                <li><a href="{% url 'ecommerce:category_page' 9 %}">Televisores</a></li>
              </ul>
            </li>
            <li><a href="{% url 'ecommerce:category_page' 4 %}">Eletrodomesticos</a></li>
            <li><a href="{% url 'ecommerce:category_page' 3 %}">Livros</a></li>

          </ul>
        </li>

      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <div class="d-flex align-items-center justify-content-between gap-3">
      <!-- Campo de busca -->
      <form method="get" action="">
        <input type="search" name="q" class="form-control" placeholder="Buscar..." aria-label="Search"
          style="color: #000;">
        <button type="submit" class="btn btn-primary" style="display: none;">Buscar</button>
      </form>
      {% if user.is_authenticated %}
      <div style="color:aliceblue;">Olá, {{user.first_name}}!</div>
      {% endif %}
      <!-- Dropdown do usuário -->
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{% static 'assets/img/people.png' %}" alt="mdo" width="32" height="32" class="rounded-circle"> </a>
        <ul class="dropdown-menu dropdown-menu-end">
          {% if not user.is_authenticated %}
          <li><a class="dropdown-item" href="{% url 'authentication:login' %}">Entrar</a></li>
          <li><a class="dropdown-item" href="#">Cadastrar</a></li>
          {% endif %}
          {% if user.is_authenticated %}
          <li><a class="dropdown-item" href="{% url 'ecommerce:home' %}">Dashboard</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'authentication:logout' %}">Sair</a></li>
          {% endif %}


        </ul>

      </div>

    </div>
  </div>

  </div>
</header>

<body class="portfolio-details-page">
  <main class="main">
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>{{item.name}}</h1>
              <p class="mb-0">{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="page-title" data-aos="fade">
      <nav class="breadcrumbs">
        {% if item.name %}
        <div class="container">
          <ol>
            <li><a href="{% url 'ecommerce:index' %}">Inicio</a></li>
            {% if item.category.id == 1 %}
            <li><a href="{% url 'ecommerce:category_page' 1 %}">{{item.category}}</a></li>
            {% endif %}
            {% if item.category.id == 2 %}
            <li><a href="{% url 'ecommerce:category_page' 2 %}">{{item.category}}</a></li>
            {% endif %}
            {% if item.category.id == 3 %}
            <li><a href="{% url 'ecommerce:category_page' 3 %}">{{item.category}}</a></li>
            {% endif %}
            {% if item.category.id == 4 %}
            <li><a href="{% url 'ecommerce:category_page' 4 %}">{{item.category}}</a></li>
            {% endif %}
            {% if item.category.id == 5 %}
            <li><a href="{% url 'ecommerce:category_page' 5 %}">{{item.category}}</a></li>
            {% endif %}
            {% if item.category.id == 6 %}
            <li><a href="{% url 'ecommerce:category_page' 6 %}">{{item.category}}</a></li>
            {% endif %}
            {% if item.category.id == 7 %}
            <li><a href="{% url 'ecommerce:category_page' 7 %}">{{item.category}}</a></li>
            {% endif %}
            {% if item.category.id == 8 %}
            <li><a href="{% url 'ecommerce:category_page' 8 %}">{{item.category}}</a></li>
            {% endif %}
            {% if item.category.id == 9 %}
            <li><a href="{% url 'ecommerce:category_page' 9 %}">{{item.category}}</a></li>
            {% endif %}
            <li class="current">{{item.name}}</li>
          </ol>
        </div>
        {% endif %}
      </nav>
    </div>

    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">

          <div class="col-lg-2 d-flex flex-column gap-2">
            {% if item.image %}
            <a href="{{ item.image.url }}" data-lightbox="product-gallery">
              <img src="{{ item.image.url }}" class="img-fluid border " alt="Miniatura principal">
            </a>
            {% endif %}

            {% for img in galery %}
            <a href="{{ img.image.url }}" data-lightbox="product-gallery">
              <img src="{{ img.image.url }}" class="img-fluid border" alt="Miniatura extra">
            </a>
            {% endfor %}
          </div>

          <!-- Imagem principal com zoom -->
          <div class="col-lg-6">
            {% if item.image %}
            <a href="{{ item.image.url }}" data-lightbox="product-gallery">
              <img src="{{ item.image.url }}" class="img-fluid border rounded" alt="Imagem principal">
            </a>
            {% endif %}
          </div>

          <!-- Infos do item -->
          <div class="col-lg-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Estoque disponivel</h3>
              <div class="d-flex gap-3">
                <!-- Cor -->
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Disponiveis
                  </button>


                  <ul class="dropdown-menu "
                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);"
                    data-popper-placement="bottom-start">

                    {% for d in details %}
                    <li>
                      {% if d.storage %}
                      <a class="dropdown-item" href="#">{{ d.color }} - {{ d.storage }}</a>
                      {% endif %}
                      {% if d.size %}
                      <a class="dropdown-item" href="#">{{ d.color }} - {{ d.size }}</a>
                      {% endif %}
                      {% if not d.storage and not d.size %}
                      <a class="dropdown-item" href="#">{{ d.color }}</a>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>


            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              <h2>Descrição</h2>
              <p>{{ item.description }}</p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- /Portfolio Details Section -->

  </main>

  {% include 'includes/footer.html' %}

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

{% endblock %}