{% extends 'base.html' %}
{% load static %}
{% block content %}

<header id="header" class="header d-flex align-items-center position-relative" style="background-color: #000;">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <a href="{% if company %}{% url 'ecommerce:company_page' company.id_company %}{% else %}{% url 'ecommerce:index' %}{% endif %}"
      class="logo d-flex align-items-center">

      {% if company and company.logo %}
      <img src="{{ company.logo.url }}" alt="{{ company.nome }}" class="logo-img">
      {% else %}
      <h1 class="sitename">Doa</h1>
      <span>+</span>
      {% endif %}
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'ecommerce:index' %}" class="active">Inicio<br></a></li>
        <li><a href="{% url 'ecommerce:companies' %}">Lojas</a></li>
        <li class="dropdown">
          <a href="#">
            <span>Como ajudar</span>
            <i class="bi bi-chevron-down toggle-dropdown"> </i>
          </a>
          <ul>
            <li><a href="{% url 'ecommerce:category_page' 4 %}">Causas</a></li>
            <li><a href="{% url 'ecommerce:category_page' 3 %}">ONGs</a></li>

          </ul>
        </li>

      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <div class="d-flex align-items-center justify-content-between gap-3">
      <!-- Campo de busca -->
      <form method="get" action="">
        <input type="search" name="q" class="form-control" placeholder="Buscar..." aria-label="Search"
          style="color: #000;">
        <button type="submit" class="btn btn-primary" style="display: none;">Buscar</button>
      </form>
      {% if user.is_authenticated %}
      <div style="color:aliceblue;">Olá, {{user.first_name}}!</div>
      {% endif %}
      <!-- Dropdown do usuário -->
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{% static 'assets/img/people.png' %}" alt="mdo" width="32" height="32" class="rounded-circle"> </a>
        <ul class="dropdown-menu dropdown-menu-end">
          {% if not user.is_authenticated %}
          <li><a class="dropdown-item" href="{% url 'authentication:login' %}">Entrar</a></li>
          <li><a class="dropdown-item" href="#">Cadastrar</a></li>
          {% endif %}
          {% if user.is_authenticated %}
          <li><a class="dropdown-item" href="{% url 'ecommerce:home' %}">Dashboard</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li><a class="dropdown-item" href="{% url 'authentication:logout' %}">Sair</a></li>
          {% endif %}
        </ul>

      </div>

    </div>


  </div>

  </div>
</header>


<section id="portfolio-details" class="portfolio-details section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-8">
        <div class="portfolio-details-slider swiper init-swiper">

          <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src="{{ causa.image.url }}" alt="">
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="col-lg-4">
        
        <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
         
          <h3>Progresso
            <div class="progress" role="progressbar" aria-label="Warning striped example" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped bg-warning"
                style="width: {{ causa.porcentagem|floatformat:0 }}%; min-width: 2em;">
                {{ causa.porcentagem|floatformat:0 }}%
              </div>

            </div>
          </h3>

          <ul>
            <li><strong>Quantidade arrecadado: R$: {{ causa.valor_arrecadado }}</strong></li>
            <li><strong>De: R$: {{ causa.value }}</strong></li>
          </ul>
          <!-- Button trigger modal -->
           {% if causa.ativo == True %}

          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Ajudar
          </button>
          {% endif %}
          <!-- Modal -->
          <form method="POST">
            {% csrf_token %}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Contribua com a causa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="input-group mb-3">
                      <span class="input-group-text">R$</span>
                      <input type="number" class="form-control" name="valor">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        
        </div>
        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
          <h2>{{ causa.title }}</h2>
          <p>
            {{ causa.description }}
          </p>
        </div>
      </div>

    </div>

  </div>

</section>

{% include 'includes/footer.html' %}

{% endblock %}