{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="{% static 'assets/img/novoicone.png' %}" rel="icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <style>
        .login-bg {
            min-height: 100vh;
            background-image: url("{% static 'assets/img/login.jpg' %}");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
    <main class="login-bg d-flex justify-content-center align-items-center">

        <div class="login-card bg-white p-4 rounded shadow" style="min-width: 350px;">
            <form action="{% url 'authentication:login' %}" method="POST">
                {% csrf_token %}
                <div class="login-logo ">
                    <h1>Doa<span>+</span></h1>
                </div>
                <h2 class="h5 mb-3 fw-bold text-center">Acesse sua conta</h2>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                        name="{{ form.username.name }}" required>
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Senha"
                        name="{{ form.password.name }}" required>
                    <label for="floatingPassword">Senha</label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="remember-me" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Lembrar-me</label>
                </div>

                <div class="d-flex gap-2 mt-4">
                    <button class="btn btn-primary w-100 py-2" type="submit">Entrar</button>
                    <a href="{% url 'ecommerce:index' %}"
                        class="btn btn-secondary w-100 py-2 d-flex align-items-center justify-content-center text-decoration-none">Cancelar</a>
                </div>

                <div class="text-center mt-3">
                    <a href="{% url 'authentication:user' %}">Cadastrar conta</a>
                </div>

                <p class="mt-4 mb-2 text-center text-muted">&copy; Todos os direitos reservados.</p>
            </form>
        </div>
    </main>

    <!-- Scripts -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
</body>

</html>