{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="{% if company %}{% url 'ecommerce:company_page' company.id_company %}{% else %}{% url 'ecommerce:index' %}{% endif %}"
            class="logo d-flex align-items-center">

            {% if company and company.logo %}
            <img src="{{ company.logo.url }}" alt="{{ company.nome }}" class="logo-img">
            {% else %}
            <h1 class="sitename">Doa</h1>
            <span>+</span>
            {% endif %}
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="{% url 'ecommerce:index' %}" class="active">Inicio<br></a></li>
                <li><a href="{% url 'ecommerce:companies' %}">Lojas</a></li>
                <li class="dropdown">
                    <a href="#">
                        <span>Categoria</span>
                        <i class="bi bi-chevron-down toggle-dropdown"> </i>
                    </a>
                    <ul>

                        <li><a href="{% url 'ecommerce:category_page' 1 %}">Moda</a></li>
                        <li class="dropdown"><a href="{% url 'ecommerce:category_page' 7 %}"><span>Tecnologia</span>
                                <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="{% url 'ecommerce:category_page' 2 %}">Celulares</a></li>
                                <li><a href="{% url 'ecommerce:category_page' 5 %}">Informatica</a></li>
                                <li><a href="{% url 'ecommerce:category_page' 6 %}">Game</a></li>
                                <li><a href="{% url 'ecommerce:category_page' 8 %}">Eletronicos, audio e video</a></li>
                                <li><a href="{% url 'ecommerce:category_page' 9 %}">Televisores</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'ecommerce:category_page' 4 %}">Eletrodomesticos</a></li>
                        <li><a href="{% url 'ecommerce:category_page' 3 %}">Livros</a></li>

                    </ul>
                </li>

            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <div class="d-flex align-items-center justify-content-between gap-3">
            <!-- Campo de busca -->
            <form method="get" action="">
                <input type="search" name="q" class="form-control" placeholder="Buscar..." aria-label="Search"
                    style="color: #000;">
                <button type="submit" class="btn btn-primary" style="display: none;">Buscar</button>
            </form>
            {% if user.is_authenticated %}
            <div style="color:aliceblue;">Olá, {{user.first_name}}!</div>
            {% endif %}
            <!-- Dropdown do usuário -->
            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'assets/img/people.png' %}" alt="mdo" width="32" height="32"
                        class="rounded-circle"> </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% if not user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'authentication:login' %}">Entrar</a></li>
                    <li><a class="dropdown-item" href="#">Cadastrar</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'ecommerce:home' %}">Dashboard</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'ecommerce:create_item' %}">
                            Vender
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'authentication:logout' %}">Sair</a></li>
                    {% endif %}


                </ul>

            </div>

        </div>


    </div>

</header>